<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        {% block js %}
            <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
            <script src="/lib/impact/impact.js"></script>
        {% endblock %}
        {% block css %}
            <link rel="stylesheet" href="/resources/css/site.css" />
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
