<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>~alyxia</title>
    <script src="lib/impact/impact.js"></script>
    <script src="lib/site/main.js"></script>
  </head>
  <body>
      <button onclick="window.location.href = '/sign-in'">sign in</button>

      <button
              is="step-button"
              steps='[
                {
                  "type": "CONSOLE_LOG",
                  "text": "HIIII"
                }
              ]'>
          Test
      </button>

<!--      <div style="background-color: red" onclick="demoAnimation()" class="box"></div>-->

<!--      <style>-->
<!--        .box {-->
<!--          width: 100px;-->
<!--          height: 100px;-->
<!--          border: 5px solid blue;-->
<!--          margin-top: 1rem;-->
<!--        }-->
<!--      </style>-->
  </body>
</html>
